.home {
    height: 100vh;
    width: 100%;
    background-image: url("../pages/images/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.home__container {
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.home__article {
    margin-top: 20%;
}

.home__explore {
    margin-top: 20%;
}